[submodule "validation/ucx"]
	path = validation/ucx
	url = https://github.com/openucx/ucx.git
[submodule "apps/hpcg"]
	path = apps/hpcg
	url = https://github.com/hpcg-benchmark/hpcg.git
[submodule "apps/lulesh"]
	path = apps/lulesh
	url = https://github.com/LLNL/LULESH.git
[submodule "apps/icon"]
	path = apps/icon
	url = https://gitlab.dkrz.de/icon/icon-model.git
[submodule "apps/milc_qcd"]
	path = apps/milc_qcd
	url = https://github.com/milc-qcd/milc_qcd.git
[submodule "apps/lammps"]
	path = apps/lammps
	url = https://github.com/lammps/lammps.git
[submodule "deps/netcdf-fortran"]
	path = deps/netcdf-fortran
	url = https://github.com/Unidata/netcdf-fortran.git
[submodule "deps/hdf5"]
	path = deps/hdf5
	url = https://github.com/HDFGroup/hdf5.git
[submodule "deps/netcdf-c"]
	path = deps/netcdf-c
	url = https://github.com/Unidata/netcdf-c.git
